.profile__container {
  display: flex;
}

@media screen and (max-width: 880px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 282px;
  }
}
