.header__menu-close-button {
  background-image: url("../../../images/clsIcon.svg");
  outline: 0;
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transform: rotate(-45deg);
  transition: opacity .4s linear;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.header__menu-close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 701px) {
  .header__menu-close-button {
    display: none;
  }
}
