.element__like-button {
  background-image: url("../../../images/like.svg");
  align-self: center;
  background-size: 20.76px 18.13px;
  width: 20.76px;
  height: 18.13px;
  outline: 0;
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity .4s linear;
}

.element__like-button:hover {
  opacity: .5;
}
